

<nav class="navbar navbar-expand-lg">
	<a [routerLink]="['/']"><img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo"> </a>	
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a class="nav-link px-2 link-dark" [routerLink]="['/course']" routerLinkActive="active">Ana Sayfa</a>
			<a class="nav-link px-2 link-dark" [routerLink]="['/course']" routerLinkActive="active">Dersler</a>			
		</div>
    <ng-container *ngIf="(currentUser$ | async)?.displayName=== '' ">
		<div class="navbar-nav ml-auto action-buttons">
			<a class="nav-link mr-4" routerLink="/account/login">Giriş Yap</a>
			<a class="btn btn-primary sign-up-btn" routerLink="/account/register">Kayıt Ol</a>
        </div>
      </ng-container>
	</div>

  <ng-container *ngIf="(currentUser$ | async)?.displayName !== '' ">
    <div class="dropdown ml-3 mr-5" dropdown>
      <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle><strong>{{ (currentUser$ | async)?.displayName}}</strong></a>
      <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
      <a class="dropdown-item d-flex align-item-center py-2">
        <i class="fa fa-comment mr-3 my-2" [routerLink]="['chat']">  Mesajlarım</i>
      </a>
      <a class="dropdown-item d-flex align-item-center py-2">
        <i class="fa fa-book mr-3" [routerLink]="['myCourses']"> Derslerim</i>
      </a>
      <a class="dropdown-item d-flex align-item-center py-2" *ngIf="userRole !== 'Student'">
        <i class="fa fa-edit mr-3" [routerLink]="['postarticle']"> Duyuru Oluştur</i>
      </a>
      <a class="dropdown-item d-flex align-item-center py-2" *ngIf="userRole !== 'Student'">
        <i class="fa fa-edit mr-3" [routerLink]="['task']"> Görev Oluştur</i>
      </a>
      <div class="dropdown-divider"></div>
      <a (click)="logOut()" class="dropdown-item d-flex align-item-center py-2">
        <i class="fa fa-sign-out mr-3"> Çıkış Yap</i>
      </a>
      </div>
    </div>
  </ng-container>

</nav>