<div class="text-center">
  <h1>{{courseName}}</h1>
</div>



<div class="container">
  <div class="row">
    <div *ngFor="let courseTask of courseTasks" class="col-md-12 my-2">

      <div>
        <h2>{{courseTask.title}} -- {{courseTask.creationDate}}</h2>
      </div>

      <!-- Tab Başlangıç -->
      <mat-card>
        <mat-tab-group animationDuration="0ms">

          <!-- Tab 1 -->
          <mat-tab label="Detay">
            <div class="my-2">
              {{courseTask.detail}}
            </div>
          </mat-tab>

          <!-- Tab 2 -->
          <mat-tab label="Ödev Yükleme">

            <div *ngIf="courseTask.status">

              <mat-card>
                <h3>Kabul edilen formatlar: .pdf .docx .jpeg .png .zip .rar </h3>
                <div *ngIf="courseTask.assignment.isSent">
                  <input type="file" style="display: none" #fileInput (change)="onChangeFileInput()" />
                  <button mat-raised-button class="file-select-button"
                    (click)="onClickFileInputButton(true,courseTask.id)" name="file">Dosya Güncelle</button>
                </div>
                <div *ngIf="!courseTask.assignment.isSent">
                  <input type="file" style="display: none" #fileInput (change)="onChangeFileInput()" />
                  <button mat-raised-button class="file-select-button"
                    (click)="onClickFileInputButton(false, courseTask.id)" name="file">Dosya Yükle</button>
                </div>


                <h4 class="my-2">Son Gönderim: {{courseTask.expirationDate | date: 'dd/MM/yyyy - HH:mm:ss'}}</h4>
              </mat-card>

            </div>
            <div *ngIf="!courseTask.status" class="my-4">
              <p>Süresi Dolmuş</p>
            </div>
          </mat-tab>

          <mat-tab label="Gönderimlerim" *ngIf="courseTask.assignment.isSent">
            
            <div class="my-2">
              <a href="https://localhost:44336/assignments/{{courseTask.assignment.attachmentPath}}"
                target="_blank">{{courseTask.assignment.attachmentPath}}</a>
            </div>

            <div *ngIf="courseTask.assignment.score >= 0">
              <h3>Notlandırıldı: {{courseTask.assignment.score}}</h3>
            </div>

          </mat-tab>

        </mat-tab-group>
        <!-- Tab Bitiş -->
      </mat-card>
    </div>
  </div>
</div>






<!-- <li>{{courseTask.id}}</li>
    <li>{{courseTask.title}}</li>
    <li>{{courseTask.detail}}</li>
    <li>{{courseTask.creationDate}}</li>
    <li>{{courseTask.expirationDate}}</li>
    <li>{{courseTask.status}}</li>
    <li>{{courseTask.courseId}}</li> -->