
<div class="container login-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6 login-form-2">
            <h3>GİRİŞ YAP</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="inputEmail" class="visually-hidden">Email</label>
                    <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email *" />
                    <span class="text-warning" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched && loginForm.get('email').errors['required']">
                      Email Alanı Zorunludur
                    </span>
                    <span class="text-warning" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched && loginForm.get('email').errors['pattern']">
                      Email Geçerli Değil
                    </span>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="visually-hidden">Şifre</label>
                    <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Şifre *" value="" />
                    <span class="text-warning" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched && loginForm.get('password').errors['required']">
                      Şifre Alanı Zorunludur
                    </span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Giriş" [disabled]="loginForm.invalid" />
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd" value="Login">Şifremi Unuttum</a>
                </div>
            </form>
        </div>
    </div>
  </div>

